{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}DEEPL{% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <style>
            #navbar {
                background-color: #dde;
            }
            #logo {
                font-weight: bold;
                font-size: 2em;
                font-family: Lato;
                margin-left:15px;
            }
            #tagline {
                margin-left: 15px;
            }
            #classification-form {
                padding-top: 20px;
            }
        </style>
    </head>
    <body>
        <div id="navbar">
            <span id="logo">DEEPL</span><br>
            <div class="row">
                <div class="col-md-8">
                    <small id="tagline">A Humanitarian Natural Language Processing tool</small>
                </div>
                <div class="col-md-4 text-right">
                    {% if user.is_authenticated %}
                    {{ user }} | <a href="/logout">logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>

