{% extends "base.html" %}
{% load static %}

{% block title %} DEEPL Login {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3 class="text-center"> Login to proceed </h3>
            <div class="text-center text-danger">{{message}}</div>
            <div>
                <form method="post" action="/login">
                    {% csrf_token %}
                    <br/>
                    <label>Username:</label>
                    <input type="text" name="username" /><br/><br/>
                    <label>Password:</label>
                    <input type="password" name="password" /><br/><br/>
                    <button type="submit">Login</button><br /><br/>
                    <a href="/register"> Register for new account </a>
                </form>
                <br/>
                <p>
                    <b>NOTE:</b> In order to test or use the NLP API's you have to have an account from where you can get test and API tokens that can be used to make api calls.
                </p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
